services:
  telegram-bot:
    build: .
    container_name: telegram-bot
    restart: unless-stopped
    user: root
    volumes:
      - ./users.json:/app/users.json
      - ./logs:/app/logs
    environment:
      - PYTHONUNBUFFERED=1
    env_file:
      - .env 